<!DOCTYPE html>
<html>
  
<head>
    
    
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    
<title>Globalhack App</title>
    
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
<link rel="apple-touch-icon" href="assets/img/ico/60.png">
    
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/ico/76.png">
   
<link rel="apple-touch-icon" sizes="120x120" href="assets/img/ico/120.png">
    
<link rel="apple-touch-icon" sizes="152x152" href="assets/img/ico/152.png">
    
<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    
<meta name="apple-mobile-web-app-capable" content="yes">
    
<meta name="apple-touch-fullscreen" content="yes">
    
<meta name="apple-mobile-web-app-status-bar-style" content="default">
    
<meta content="" name="description" />
    
<meta content="" name="author" />
    
    

<!--Style Sheets -->
    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
<link href="http://www.pashle.com/assets/css/style.css" rel="stylesheet" type="text/css" />
    

<!-- Latest compiled and minified CSS -->
    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
<link href="https://www.fuelcdn.com/fuelux/3.11.0/css/fuelux.min.css" rel="stylesheet">
    

<!-- Optional theme -->
    <!-- 	

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    
    

<!-- JQuery/Fuel-->
    

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>



<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
<script src="https://www.fuelcdn.com/fuelux/3.11.0/js/fuelux.min.js"></script>
  
  
<!-- Accordian Payment script -->
    <script>
      $(function() {
          $( "#accordion" ).accordion({
              heightStyle: "content"
          });
      });
    </script>
    
    

<!-- DataTables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/dt-1.10.9/datatables.min.css"/>
    
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs/dt-1.10.9/datatables.min.js"></script>
  

</head>



<body>

<body id="page-top" class="index">

   
 
<!-- Navigation -->
    
<nav class="navbar navbar-default navbar-fixed-top">
      
<div class="container">
        

<!-- Brand and toggle get grouped for better mobile display -->
        
<div class="navbar-header page-scroll">
          
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            
<span class="sr-only">Toggle navigation</span>
            
<span class="icon-bar"></span>
            
<span class="icon-bar"></span>
            
<span class="icon-bar"></span>
          

</button>
          
<a class="navbar-brand" href="http://www.pashle.com/">Globalhack app</a>
        
</div>

        

<!-- Collect the nav links, forms, and other content for toggling -->
        

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
<ul class="nav navbar-nav navbar-right">
            
<li class="hidden">
              
<a href="#page-top"></a>
            
</li>
           
<li class="page-scroll">
              
<a href="http://www.pashle.com/">Search</a>
            
</li>
            
<li class="page-scroll">
              
<a href="http://www.pashle.com/tickets">Tickets</a>
            
</li>
            
<li class="page-scroll">
              
<a href="http://www.pashle.com/information">Information</a>
            
</li>
       
</ul>
        
</div>
        
<!-- /.navbar-collapse -->
      
</div>
      

<!-- /.container-fluid -->
    
</nav><header id="header">
      
<!-- Landing Header -->
      
<div class="container">
	
<div class="row">
	  
<div class="col-lg-12">
	    
<div class="intro-text">
              
<span class="name"><strong>FAQ</strong></span>
              
<hr class="star-light" style="color:#FFFF00">
            
</div>
	  
</div>
	
</div>
      
</div>

    
</header>
    

<section>
   
<form role="form">
	

<div class="container">
	  
		<div class="row">
	    
		<div class="col-md-6" style="text-align:center;">
	      
		</div>

		</div>
	  
<div id="accordion" active="false" collapsible="true" foo="bar">
	    

	<h3>I received a speeding ticket. What's next?</h3>

	<div><p>Please pay requested amount on the citation document.</p></div>	    	    

	<h3>I lost my citation documents. How can I look up information relevant to my speeding ticket?</h3>
	    
	<div><p>Please use the search box on our website.</p>    
	</div> 

	<h3>I received a court date. What must I do?</h3>
	    
	<div><p>Please appear in court at requested time, or contact court for extension.
</p>
</div>
	    

	<h3>What should I do before I go to court?</h3>
	    
	<div>
<p>Contact a lawyer who can represent your rights.</p></div>
	    

	<h3>What happens in court?</h3>
	    
	<div>
<p>
A judge will hear your case and will make judgement according to all available information.</p></div>

	<h3>What are my rights?</h3>
	    
	<div>
<p>
You have the right to get legal representation in court.</p></div>

	<h3>How can I get a lawyer?</h3>
	    
	<div>
<p>
Please work with the state court to get recommendations, or visit the website of the Missouri BAR Association.</p></div>

	<h3>What will happen if I ignore the ticket?</h3>
	    
	<div>
<p>
Your case will be brought to the court system and will be tried by an assigned judge.</p></div>

</div>
</div>
      

</form>
    
</section>

    
<div id="result">
      
    
</div>
    


<!-- Footer -->
    
<footer class="text-center">
      
<div class="footer-above">
        
<div class="container">
      <div class="row">
            
<div class="footer-col col-md-4">
              


<h3>Location Finder</h3>
              
<p>Key in Zip Code</p>
            </div>
            <div class="footer-col col-md-4">
              

<h3>Follow us on Social Media</h3>
              <ul class="list-inline">
                <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                </li>
                <li>
                  <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>About globalhack app</h3>
              <p>our app is used to search for ticket info etc... <a href="http://startbootstrap.com">GLobalHack App</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; GlobalHack app
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
      <a class="btn btn-primary" href="#page-top">
        
<i class="fa fa-chevron-up"></i>
      </a>
    </div>

    

<!-- BEGIN PAGE LEVEL JS -->
    
<script src="assets/js/landing.js" type="text/javascript"></script>
    
    <script src="http://www.pashle.com//assets/js/scripts.js" type="text/javascript"></script>
    
<script src="http://www.pashle.com/assets/js/common.js"></script>
    
    

<!-- END PAGE LEVEL JS -->

 

</body>


</html>









